footer.footer
  .ui.container
    h1.centered.large.ui.header
      | Follow us on
    .ui.center.aligned.guttered.doubling.grid#social-icons
      .two.wide.column
        a(href = "https://twitter.com/@HackClassrooms" target = "_blank")
          button.ui.circular.icon.large.button
            i.twitter.icon
      .two.wide.column
        a(href = "https://www.facebook.com/room2learn" target = "_blank")
          button.ui.circular.icon.large.button
            i.facebook.icon
      .two.wide.column
        a(href = "https://www.youtube.com/channel/UChZ3nekm0x2NzeEV09Q9MNQ" target = "_blank")
          button.ui.circular.icon.large.button
            i.youtube.play.icon
