.ui.fixed.borderless.menu(role='navigation', style='background-color: #F9F9F9;')
  .ui.item
  .ui.item
  .ui.item.vertically.fitted
    dynaMIT
    img.ui.image.tiny(alt='Brand', src='/images/navbar-logo.png', class='logo')
  .right.bordlerless.menu
      li.ui.item
        a(href='#') Learn More
      li.ui.item
        a(href='/aboutus') About Us
      li.ui.item
        a(href='#') Materials      
      li.ui.item
        a(href='#') Donate
      li.ui.item
        a(href='#') Apply
