.navbar.navbar-light.navbar-fixed-top.bug-fix(role='navigation', style='background-color: #F9F9F9;')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        dynaMIT
        img.logo(alt='Brand', src='/images/navbar-logo.png', class='logo')
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Learn More
        li
          a(href='/aboutus') About Us
        li
          a(href='#') Materials      
        li
          a(href='#') Donate
        li
          a(href='#') Apply
