extends layout

block content
  .ui.guttered.centered.grid
    .ui.row
      .two.wide.column
        h1.ui.medium.dynaColor.header About
      .fourteen.wide.column
        .ui.guttered.grid
          .eight.wide.column
            p dynaMIT was founded by MIT students in 2012 following 3 successful programs under a different name.  dynaMIT offers completely free, week-long science program for economically disadvantaged middle school students, hosted on the MIT campus.  Our program focuses on inspiring students to be interested in the Science, Technology, Engineering, and Math (STEM) fields through fun and educational activities, challenges, and projects. We teach critical thinking skills, science and engineering concepts, and design skills!
          .six.wide.column
            img.ui.image(src='/images/aboutus.png')


              
    .ui.row
      .sixteen.wide.column
        hr
    .row
      .col.col-xs-2
        br
        br
        p(class='header') A typical day
      .col.col-xs-10
        p A typical day at dynaMIT begins with fun ice-breaker games to get to know everyone and get the laughter going! This is followed by short presentations that introduce the day's concepts. Afterwards, students and mentors work in groups on activities throughout the day, which are shorter experiments, and challenges that often require building and teamwork. Each day's activities usually revolve around a single topic area in STEM. Topics taught vary from year to year but some past examples include: the science behind the five senses, polymers and materials, and energy.

        p On Lab Day, 8th-9th grade students have the opportunity to receive full access to an MIT laboratory. Donning their own lab coats, students have dissected sheep brains, extracted the DNA from strawberries, and made a non-Newtonian fluid!

        p At MIT, we work hard and play hard. Break time is often a favorite for both students and mentors alike. Together they relax under the sun and play games such as tag or baseball in the quads near the iconic Stata Center.

    .row
      .col.col-xs-2
        br
        br
        p.header Outreach
      .col.col-xs-10
        hr 
        p We visit classrooms, parent nights and science festivals in the Boston and Cambridge area, bringing with us fun activities as well as pamphlets and flyers for this free science program. These outreach sessions are filled with exciting hands on science experiments that we do right in the classroom, as well as information about the program and how to apply.

        p If you are interested in having DynaMIT come to your school or have any questions, comments, or suggestions, please contact us at dynamit-school-visits@mit.edu.

        p We look forward to hearing from you!
