doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    include partials/navbar.pug
    br
    .row
      .col.col-lg-2
      .col.col-lg-8
        block content
      .col.col-lg-2
