/*
dynaBlue: #3CC3E9;
dynaOrange: #F8941D;
dynaGrey: #CBCBCB;
*/



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.logo {
	height: 2em;
}

.header {
	color: #3CC3E9; /*dynaBlue*/
	text-align: right;
}

.image {
	width: 100%;
}

.footer {
	width: 100%;
	height: 3em;
	background-color: #F9F9F9;
}