/*
dynaBlue: #3CC3E9;
dynaOrange: #F8941D;
dynaGrey: #CBCBCB;
*/



body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.ui.container.content {
  padding-top: 4rem;
}

a {
  color: #00B7FF;
}

.logo {
	height: 2em;
}

.ui.dynaColor.header {
	color: #3CC3E9; /*dynaBlue*/
	text-align: right;
}

.image {
	width: 100%;
}

footer.footer{
  margin-top: 4rem;
  padding-top: 2rem;
  background-color: #CBCBCB;
  width:100%;
  padding-bottom: 5rem;
}
